.micr-flex-position {
  display: flex;
  justify-content: space-between;
  }
  .micr-margin {
    margin: 72px 0 60px 0;
  }
@media screen and ( max-width:1200px){
  .display1 {
    display: none;
  }
  .micr-margin {
    margin: 5px 0 5px 0;
  }
}
@media screen and ( max-width:992px){
  .display2 {
    display: none;
  }
  
}
@media screen and ( max-width:768px){
  .display3 {
    display: none;
  }
  
  
} 